.company-logo{
    height:40px;
    width:40px;
}

.header-block{
    display: grid;
    grid-template-columns:1fr 2fr 2fr 2fr 3fr 1fr;
    color: white;
    /* background-color: #DFDCE3; */
    background-color: #301008;
    background-color: #023B59;
    width: 100%;
}

.add-company,.add-stock,.list-companies,.search-company,.app-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    padding:10px;
}

.logout-btn{
    border: 1px solid white;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    cursor: pointer;
    padding:10px;
}